<%- include("partials/header"); -%> 

<!-- START HomeSlider REVOLUTION SLIDER ====================================== -->
<section id="HomeSlider">
  <div class="container-fluid px-0">
     
      <!-- Slider -->
      	<!-- <div class="carousel slide" id="main-carousel" data-ride="carousel"> -->
          <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="image/slider-1.jpg" alt="First slide">
        
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1 class="text-white col-xl-10 col-sm-8 animate__animated animate__fadeIn animate__delay-1s animate__slower">Pilates Classes in Dubai</h1>
                    <p class="text-white col-xl-10 col-sm-7 animate__animated animate__backInRight animate__delay-2s ">Pilates, a series of controlled exercises that engage the mind and transform the body, is recognized all around the world for its life-changing benefits. 
                      </p>  
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="image/slider-2.jpg" alt="First slide">        
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1 class="text-white animate__animated animate__fadeIn animate__delay-1s animate__slower">Emotion & Relationship Coaching</h1>
                    <p class="text-white col-xl-8 col-sm-7 animate__animated animate__backInRight animate__delay-2s">Emotion and relationship coaching focuses on resolving emotional and relationship issues with oneself and others in a way that harnesses personal well-being, self-regulation and progression in life.</p>
                    
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="image/slider-3.jpg" alt="First slide">
        
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1 class="text-white animate__animated animate__fadeIn animate__delay-1s animate__slower">Nutrition Services</h1>
                    <p class="text-white col-xl-8 col-sm-8 animate__animated animate__backInRight animate__delay-2s">With her expertise and experience ranging from a variety of medical diagnoses, specialities to ethnic backgrounds and cultures, her work philosophy is to “create dynamic nutrition plans that are in harmony with the client.”
                      </p>
        
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="image/slider-4.jpg" alt="First slide">
        
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1 class="text-white animate__animated animate__fadeIn animate__delay-1s animate__slower">YOGA CLASSES </h1>
                    <p class="text-white col-xl-10 col-sm-8 animate__animated animate__backInRight animate__delay-2s ">Practised throughout the world for centuries, yoga provides a complete mind-body exercise. Renowned for its remarkable impact on overall wellbeing, it combines challenging, stretching body formations with controlled breathing and relaxation.</p>                    
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
  </div>
</section>

<section id="About">
  <div class="container my-5 py-5">
    <h2>About Us</h2>    
    <div class="about-img mb-3 BOUNCE_ANIMAT">
      <img src="/image/about.png" alt="">
    </div>
    <div class="LEFT_ANIMAT">
      <p>The Hundred was founded by Asma Lootah, an avid health and fitness enthusiast and sportswoman. After practising and falling in love with Pilates, Asma became the first Emirati woman to own a Pilates studio in the UAE.</p>

      <p class="fw-bold">The Hundred is a holistic wellness destination located in the heart of Dubai – Empowering you to transform your physical, mental and emotional health through natural medicine, holistic therapies and positive nutrition.</p>
  
      <p>The Hundred was founded by Asma Lootah, an avid health and fitness enthusiast and sportswoman. After practising and falling in love with Pilates, Asma became the first Emirati woman to own a Pilates studio in the UAE. Through her vision and dedication, a centre that started as a modest studio in the Healthcare City has gone on to become one of the leading health centres in Dubai.</p>
  
      <p>The name of the centre was inspired by The Hundred, a deeply meditative Pilates exercise that focuses the mind, warms the body deeply, gets the circulation going and the lungs working. Held for the duration of 100 breaths, it prepares the body and mind for transformation. </p>
    
    </div>
   </div>
</section>


<section id="Founder">
<div class="container my-5 py-5">
  <h2 class="text-center">The Founder</h2>
  <div class="row">
    <div class="col-3 BOUNCE_ANIMAT">
      <img src="/image/founder.jpg" height="300" class="mb-2">
      <h5>Asma Hilal Lootah</h5>
      <p>Founder & Owner of The Hundred Wellness Centre</p>
    </div>
    <div class="col-9 LEFT_ANIMAT">
      <p>After graduating from the George Washington University in 2000, Asma started her professional career at Etisalat, where she worked for 5 years before launching the Hundred.</p>
      <p>Her life changed in 2002, when she discovered and fell in love with Pilates. Asma is a keen sportswoman and has completed the London Royal Parks half marathon. In 2009, she climbed Mount Fuji – Japan’s highest mountain. </p>
      <p class="fst-italic">Asma has won numerous awards for her work at the Hundred, in 2010 she was awarded the <span class="weight-content-founder"> Mohammed Bin Rashid Award for Young Business Leaders </span>for the best business in healthcare by the Crown Prince of Dubai. In 2012, she won the Emirates Woman of the Year award in the achievers category for her work as a pioneer in the industry. She was also featured as Ahlan magazines top 100.</p>
      <p >In March 2016, during the visit of the US Vice President, Joe Bidden and his wife to the UAE, Asma was invited by The Second Lady of the United States of America Dr. Jill Biden to give a speech about her experience as a successful female Emirati entrepreneur at the School of Research Science in Dubai on the occasion of International Women’s Day. </p>
      <p>Asma also co-hosted a talk at the prestigious Emirates Airline Festival of Literature in 2016 titled ‘Fitting It All In: Making Time to Eat Well and Stay Fit’ with Joe Wicks aka The Body Coach, author and founder of #leanin15 videos and 90 day shape, shift and sustain plan and David Allen, author of Getting things done: The art of Stress Free productivity. </p>
    </div>
  </div>
</div>
</section>


<section id="Wellness">
  <div class="container my-5 py-5">
    <h2>The Hundred Wellness Centre Space</h2>
    <div class="row">
      <div class="col BOUNCE_ANIMAT">
        <img src="/image/wellness-1.jpg" height="300">
      </div>
      <div class="col d-flex flex-column justify-content-center TOP_ANIMAT">
        <p>We have created a haven of tranquility and positive energy tucked inside a peaceful villa in the heart of Jumeirah in Dubai. The carefully curated space, designed to make you feel at home and at peace, celebrates local talent from the UAE, and every detail of the bespoke decor and piece of art has a story behind it.</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex flex-column justify-content-center TOP_ANIMAT"><p>
        Our centre is more than just a Pilates studio and it was important for us to ensure that our space reflects The Hundred Wellness centre lifestyle, values and ethos.
      </p>
    <p>Each and every piece of art at The Hundred Wellness Centre has a story behind it, here are the tales of some of our favourite pieces dotted around the space and local talents who want to see their work at The Hundred.</p></div>
      <div class="col BOUNCE_ANIMAT">
        <img src="/image/wellness-2.jpg" height="300">
      </div>
    </div>
  </div>
</section>

<section id="Organic">
  <div class="container my-5 py-5 TOP_ANIMAT">
    <div class="text-center">
      <h2 >
        Organic Farmer’s Market
      </h2>
      <p>The Hundred Wellness Centre Dubai partners with IGR to bring a weekly organic farmer’s market right to the heart of Jumeirah.</p>
    </div>
    <div class="row">
      <div class="col-7 BOUNCE_ANIMAT">
        <img src="/image/organic-img.png" width="600">
      </div>   
      <div class="col-5  d-flex flex-column justify-content-center">
<p>Active in the organic produce business since 2008, IGR, were one of the first UAE organic farms to be certified by the Emirates Authority for Standardization. Their fresh, delicious produce (available at The Hundred every Saturday 9-1pm) is created using open air farming and greenhouse farming methods. The vegetables are freshly picked from their farms in Al Rahba and Al Khawaneej.</p>
<p>Support local organic UAE farmers every Saturday and take care of your body from the inside – buy your weekly vegetables at our Dubai organic market, which pop-ups every Saturday between 9am and 1pm.</p>
      </div>   
    </div>
    
  </div>
</section>

<%- include("partials/footer"); -%>

